h1{
    color: palevioletred
}
.red-header {
    color:rgb(223, 8, 8)
}

#purple-text{
    color:rgb(206, 70, 206)
}

h2{
    color: cornflowerblue
}

h3{
    color: orangered
}

p{
    color:rgb(91, 236, 91)
}

